*{
    padding: 0;
    margin: 0;
}

html, body{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: medium;
    color: white;
    background-color: black;

    height: 100%;
    width: 100%;
}